<div class="container col-md-6">
  <h1 style="text-align: center">Basic Todo App</h1>
  <div class="list-group">
    <a
      [class]="item.Completed == true ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning' "
      *ngFor="let item of ItemList" (click)="completeTodo(item)"> {{item.ItemName}}

      <button class="btn btn-primary" (click)="delete()" style="float: right">Sil
        <span>
          <i class="fa fa-trash"></i>
        </span>
      </button>
    </a>


    <!--src/app/models altındaki Todo nesnesi ile ortaya çıkan modele ve fieldlarına [(ngModel)] ile erişilir.-->
    <!--Bunu yapabilmek için öncelikler Angular'ın forms Module yapısı app.module.ts'in import kısmına eklenmelidir.-->
    <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="Item.ItemName"> </a>

  </div>
  <hr>

  <!--Erişilen nesne fieldlarına DOM manipülasyonları uygulanmak istenirse, çeşitli öntanımlı
      fonksiyonlara gerekli manipülasyon fonksiyonları veya atamalar yapılır, aşağıda butona click olma durumunda listeye yeni Todoo
      elemanının eklenmesini sağlayan ilgili fonksiyon atanmıştır.-->
  <div>
    <a class="list-group-item">
      <button class="btn btn-success" (click)="AddItem()">Add
        <span>
          <i class="fa fa-plus-circle"></i>
        </span>
      </button>
    </a>
  </div>


</div>
